extends ../config/template
append config
	-currentPage		= "class1"
	-siteName			= 'Class 1'
	-content			= 'content'
	-pageDescription	= 'Pagina inicial de MyBoilerplate'
block main-header
	+banner(
		"https://images.pexels.com/photos/265614/pexels-photo-265614.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb",
		'Course Name',
		'Description',
		false,
		false
	)
block main-container
	.ed-container.main-section
		include ../includes/side-menu
		main(itemscope itemprop="mainContentOfPage" role="main").ed-item.l-75.main-main
			include:markdown-it(html) ../md/class1/class1.md
			// MOD_014.2 START
			//if mso | IE
				table(align="center" border="0" cellpadding="0" cellspacing="0" style="width:650px;" width="650")
					tr
						td(style="line-height:0px;font-size:0px;mso-line-height-rule:exactly;")
			div(style="background: #ffffff; background-color: #ffffff; margin: 0px auto; max-width: 650px;")
				table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top; width: 100%; max-width: 650px; margin: 0 auto;" align="center")
					tr
						td(align="center")
							table(border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;width: 100%; border: 1px solid #000000;" width="100%" align="center")
								tr
									td.mobile_font_size_16_2(align="center" style="font-family:Arial Regular, Helvetica, sans-serif;font-size:13px;line-height:16px;text-align:center;color:#000000; padding: 15px;")
										strong
											| INVESTMENT %%[IF (@Version == "A")THEN]%%AND INSURANCE %%[ENDIF]%%PRODUCTS: NOT FDIC INSURED • NO BANK GUARANTEE • MAY LOSE VALUE
			//if mso | IE
			// MOD_014.2 END
block main-footer
block scripts



